@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-bean-master: #facb8a;
  --primary-text: #f1dec9;
  --primary-header: #1a1a1a;
  --primary-one: #8d7b68;
  --primary-two: #a4907c;
  --primary-three: #c8b6a6;
  --primary-four: #f1dec9;
}

* { 
  margin: 0;
  margin-top: 6rem: 
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html,
  body {
    @apply dark:bg-primaryOne;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.montserrat {
  font-family: var(--font-montserrat);
}
